/* You can add global styles to this file, and also import other style files */

.contenedor {
    max-width: 90%;
    margin: 0 auto;
}

@media (min-width: 780px) {
    .contenedor {
        max-width: 60%;
        margin: 0 20px 0;
    }
}

.small-flag {
    max-width: 50px;
}

.mr-1 {
    margin-right: 10px;
}